RewriteEngine On

# Exceção para o path raiz e arquivos estáticos
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$

# Redireciona todas as outras rotas para a raiz
RewriteRule ^(.*)$ / [L,R=301]

# Regras HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}