// src/scss/_variables.scss

// Global Variables
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #ccc;
$color-gray-medium: #8C8C8C;
$color-gray-medium-light: #919191;
$color-gray-medium-dark: #656565;
$color-gray-dark: #494949;
$color-gray-dark-light: #5b5b5b;
$color-gray-dark-medium: #6d6d6d;
$color-gray-dark-dark: #3C342C;
$color-brown-light: #e9d5a1;
$color-brown-medium: #D7CAAA;
$color-brown-dark: #AE944F;
$color-yellow-light: #f9f5e9;
$color-yellow-medium: #efe1bd;
$color-yellow-dark: #D7CAAA;
$color-red: red;
$color-blue-light: #daeefd;
$color-blue-medium: #4A90E2;
$color-blue-medium-light: #6CAEDF;
$color-blue-dark: #357ABD;

// Dark Theme Variables
$dark-slider-tab-bg: $color-gray-medium;
$dark-title-color: $color-white;
$dark-header-icon-color: $color-gray-dark-dark;
$dark-slider-image-border: 5px solid $color-gray-medium;
$dark-language-bg: $color-gray-dark;
$dark-link-href-color: $color-white;
$dark-project-date-bg: $color-gray-medium-light;
$dark-project-date-color: $color-white;
$dark-header-bg: $color-gray-dark;
$dark-header-title-color: $color-white;
$dark-about-bg: $color-gray-dark-medium;
$dark-about-title-color: $color-white;
$dark-about-card-img-bg: $color-white;
$dark-about-card-bg: $color-gray-dark-light;
$dark-about-card-color: $color-white;
$dark-portfolio-bg: $color-gray-dark-medium;
$dark-portfolio-bg-inv: $color-gray-dark-light;
$dark-portfolio-title-color: $color-white;
$dark-portfolio-title-color-inv: $color-gray-dark;
$dark-portfolio-foto-bg: $color-gray-dark-medium;
$dark-portfolio-project-title-color: $color-white;
$dark-resume-bg: $color-gray-dark-light;
$dark-resume-title-color: $color-white;
$dark-experience-badge-bg: $color-gray-medium-light;
$dark-experience-badge-color: $color-white;
$dark-main-badge-bg: $color-gray-medium-light;
$dark-vertical-timeline-date-color: $color-white;
$dark-vertical-timeline-icon-bg: $color-gray-medium-light;
$dark-modal-content-bg: $color-gray-dark-light;
$dark-modal-content-color: $color-white;
$dark-close-icon-color: $color-white;

// Light Theme Variables
$light-slider-tab-bg: $color-blue-medium;
$light-organic-arrow-color: $color-blue-medium;
$light-loader-bar-color: $color-blue-medium;
$light-control-bullet-color: $color-blue-medium;
$light-control-bullet-active-color: $color-blue-dark;
$light-content-bg: $color-blue-light;
$light-header-bg: $color-blue-medium;
$light-header-title-color: $color-white;
$light-link-href-color: $color-blue-medium;
$light-project-date-bg: $color-blue-medium;
$light-project-date-color: $color-white;
$light-about-bg: $color-blue-medium-light;
$light-about-title-color: $color-white;
$light-about-card-img-bg: $color-white;
$light-about-card-bg: $color-white;
$light-about-card-color: $color-gray-dark-light;
$light-portfolio-bg: $color-blue-medium-light;
$light-portfolio-bg-inv: $color-blue-light;
$light-portfolio-title-color: $color-blue-medium;
$light-portfolio-title-color-inv: $color-gray-dark-light;
$light-portfolio-foto-bg: $color-white;
$light-portfolio-project-title-color: $color-blue-medium;
$light-resume-bg: $color-blue-medium-light;
$light-resume-title-color: $color-white;
$light-experience-badge-bg: $color-blue-dark;
$light-experience-badge-color: $color-white;
$light-main-badge-bg: $color-blue-dark;
$light-vertical-timeline-date-color: $color-gray-dark;
$light-vertical-timeline-icon-bg: $color-gray-dark;
$light-modal-content-bg: $color-blue-light;
$light-modal-content-color: $color-blue-medium;
$light-close-icon-color: $color-blue-medium;
$light-language-bg: $color-blue-medium;
$light-language-color: $color-blue-light;
$light-language-icon-color: $color-blue-dark;